[user]
	# name = Sam Free5ide  # Linux
	# name = Sam Fr3eside  # Windows
	# name = Sam Fre3side  # WSL
	name = Sam Frees1de  # Other
	email = snovvcrash@protonmail.ch
[credential]
	helper = cache
[core]
	editor = subl -n -w
	autocrlf = input
	# safecrlf = true
	# filemode = false
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
