# Sublime Text
sublime/User/Package\ Control.cache/
sublime/User/Package\ Control.ca-certs/
sublime/User/Package\ Control.last-run
sublime/User/Package\ Control.ca-list
sublime/User/Package\ Control.ca-bundle
sublime/User/Package\ Control.merged-ca-bundle
sublime/User/Package\ Control.user-ca-bundle
sublime/User/Package\ Control.system-ca-bundle
sublime/User/.SublimeREPLHistory/
sublime/User/*.crt
